<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <!-- Servlet Configuration -->
  <servlet>
    <!-- Servlet Name -->
    <servlet-name>abc</servlet-name>
    <!-- Fully Qualified Class Name of the Servlet -->
    <servlet-class>com.gl.web.servlet.AddServlet</servlet-class>
  </servlet>
  
  <!-- Servlet Mapping -->
  <servlet-mapping>
    <!-- Servlet Name to be mapped -->
    <servlet-name>abc</servlet-name>
    <!-- URL Pattern for the Servlet -->
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

</web-app>
