<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <!-- Display name for the web application -->
  <display-name>MyPractice_Web_FirstPage(HelloWorld(StaticPage))_1</display-name>

  <!-- Configuration for the welcome files (default pages) -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- Servlet configuration for AddServlet -->
  <servlet>
    <description></description>
    <!-- Display name for the servlet -->
    <display-name>AddServlet</display-name>
    <!-- Servlet name, used for mapping in servlet-mapping -->
    <servlet-name>AddServlet</servlet-name>
    <!-- Fully qualified class name for the servlet -->
    <servlet-class>com.web.servlet.AddServlet</servlet-class>
  </servlet>

  <!-- Servlet mapping to associate a URL pattern with the AddServlet -->
  <servlet-mapping>
    <!-- Servlet name to map -->
    <servlet-name>AddServlet</servlet-name>
    <!-- URL pattern for the servlet -->
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
</web-app>
